.display {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 2;
    flex-direction: column;
    border-radius: 20px;
    background: dodgerblue;

}
input {
    width: 50px;
}